@import '@/src/common/styles/theme.scss';
@import '@/src/common/styles/card.scss';

.main {
  display: grid;
  width: 100%;
  height: 70px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 100%;

  background-color: $paua;
  color: $soft-iris;

  @include card-style;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > div:nth-child(1) {
    img {
      height: 85%;
    }
  }

  > div:nth-child(2) {
    font-size: 20px;
  }
}
