[submodule "stargazer-connector"]
	path = stargazer-connector
	url = https://github.com/StardustCollective/stargazer-wallet-connector
	branch = development/juan/LE-280/create-clean-web3react-stargazer-connector
