@import 'src/common/styles/theme.scss';

* {
  box-sizing: border-box;
}

html,
body {
  display: block;
  width: 100%;
  height: 100%;

  margin: 0;
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  background-color: $soft-iris;
}

main {
  width: 100%;
  height: 100%;
}
